
body {
  display:contents;
  font-size: 1.6rem;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.main-content {
  margin-left: 250px; /* Khoảng cách giữa phần nội dung và cột navbar */
  padding: 20px;
  overflow: auto; /* Điều này đảm bảo rằng nội dung không bị tràn ra khỏi phần tử cha */
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  width: 100px;
  border-radius: 50%;
  background-color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: rgb(212, 21, 21);
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  overflow: hidden;
}

.navbar li a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
}

.navbar li a.active {
  background-color: rgb(255, 83, 83);
}

.navbar li a:hover:not(.active) {
  background-color: rgb(255, 83, 83);
}

.logout-btn {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.logout-btn:hover {
  background-color: rgb(255, 83, 83);
}


.filters {
  margin: 2rem;
}

.filters label {
  margin-right: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  margin-top: 20px;
}

.res__table {
  box-sizing: border-box;
  margin: 1.2rem 2.4rem;
}

#export-btn {
  margin: 1.2rem 2.4rem;
}

