.main-content {
  background-color: rgb(236, 234, 234);
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

h1 {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
}

.search-filter {
  background-color: white;
  margin: 0 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

label {
  padding: 10px;
}

.search{
  font-size: 16px;
  margin-right: 30px;
  border-radius: 3px;
}

.result-container {
  width: auto;
  margin: 30px;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  overflow: auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.result-table{
  width: 100%;
  border-spacing: 0;
}

td, th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

td:last-child, th:last-child{
  text-align: center;
}

.details-btn {
  font-size: 24px;
  color: black;
}

.details-btn:hover {
  color: red;
}